<div class="mt-4">
    <form method="post" action="/products/add">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name">
  </div>
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" name="productId" id="id">
  </div>
  <div class="form-group">
    <label for="code">Code</label>
    <input type="text" class="form-control" name="code" id="code">
  </div>
  <div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" name="brand" id="brand  ">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" name="specs[0][k : 'image' , v ]" id="image" >
  </div>
  <div class="form-group">
    <label for="size">Size</label>
    <input type="text" class="form-control" name="specs[][1][k : 'size' , v ]" id="size" >
  </div>
   <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" id="description">
  </div>
   <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" name="specs[][2][k : 'price' , v ]" id="price">
  </div>

  <button type="submit" class="btn btn-primary">Upload</button>
</form>
</div>